table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.pagination_container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 20px;
  cursor: pointer;
}
